.button {
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  &.primary {
    background-color: #0ca678;
  }
  &.secondary {
    background-color: #38d9a9;
  }
  &.danger {
    background-color: #e03131;
  }
  &.disabled {
    background-color: #c3fae8;
    cursor: inherit;
  }
}
