.tableContainer {
  margin-top: 50px;
  table {
    width: 600px;
    thead {
      background-color: aquamarine;
      th {
        text-align: left;
        padding: 10px;
      }
    }
    td {
      padding: 10px;
      height: 100px;
      border-bottom: 1px solid black;
    }
  }
}
